{%extends 'base.html' %}
{%block title%} Index {%endblock%}

{%block content %}

<h1>Rooms</h1>
<a href="{{url_for('index')}}" >Назад</a>
<hr>
    <h3>Available rooms</h3>
    
    <div class="container">
        <div class="row">
            {% for room in rooms %}
                <div class="col-md-4"> 
                    <div class="card mb-4"> 
                        <div class="card-body">
                            <strong>{{room.room_name}}</strong>
                            <p>Room description: {{room.room_desc}}</p>
                            <button class="btn btn-primary">
                                <a href="{{ url_for('room', id=room.room_id) }}" class="text-white">Enter</a>
                            </button>
                            {% if current_user.uid == room.user_id %}
                                <a href="{{url_for('delete_room', room_id=room.room_id)}}" class="btn btn-danger">DELETE</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
                    
            
        
    
        
        
    
    
{%endblock%}