{% extends 'base.html' %}

{% block content %}
<title>Chat</title>
<div class="card mb-3 w-50 mx-auto" style="padding: 25px;"> <!-- Added mx-auto for centering -->
    <div class="card-body"> <!-- Added a card-body div -->
        <h2 class="card-title">Flask WebSocket Chat</h2>  <!-- Moved H2 tag here and made it card-title -->
        <div class="mb-3"> <!-- Corrected Class Name and increased margin -->
            <input id="msg" type="text" class="form-control" placeholder="Enter your message"> <!-- Added form-control class for Bootstrap styling -->
        </div>
        <button onclick="sendMessage()" class="btn btn-primary">Send</button> <!-- Added Bootstrap button classes -->
        <div id="messages" class="mt-3"></div> <!-- Added margin-top for spacing -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io();
        var username = "{{ username }}";
        socket.emit("join", { username: username });

        socket.on("message", function (data) {
            var messages = document.getElementById("messages");
            messages.innerHTML += `<p>${data}</p>`;
        });

        socket.on('render_template', function (data) {
            var template = Handlebars.compile(data.template);
            var html = template(data);
            document.getElementById('chat-container').innerHTML = html;
        });

        function sendMessage() {
            var msgInput = document.getElementById("msg");
            var message = msgInput.value;
            socket.send(message);
            msgInput.value = "";
        }
    </script>
</div>

{% endblock %}


